:root {
    --main-color: rgba(41, 128, 185,1.0);
    --main-color-light: rgba(41, 128, 185,0.2);
    --accent-color: rgba(243, 156, 18,1.0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--main-color-light));
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

.main-title {
    font-size: 2rem;
    color: white;
}

header, .note-form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;
}

.note-btn-add {
    color: var(--accent-color);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.note-btn-add:hover {
    color: white;
    background-color: var(--accent-color);
    
}

.note-container {
    background-color: #126e82;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 60vh;
    margin: 1rem;
    border-radius: 5px;
}

@media (max-width: 800px){
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 430px){
    .note-container {
        width: 40vh;
    }

    .note-btn {
        font-size: .8rem !important;
        padding: .4rem !important;
    }
    
    .note-item {
        margin: .5rem;
        font-size: 1.2rem;
    }

    .note-content {
        font-size: .8rem;
    }
    
    .form-item {
        padding: .4rem;
        font-size: .9rem;
    }

    .timer-list {
        font-size: .6rem !important;
    }
}

.note-menu-header {
    display: flex;
    justify-content: center;
    color: white;
    margin: .5rem;
}

.note-list {
    list-style: none;
    min-width: 40%;
}

.timer-list {
    list-style: none;
    padding-right: 1rem;
    font-size: .9rem;
    font-weight: bold;
    max-width: 30%;
    color: green;
}

.input-note {
    border-radius: 5px 0 0 5px;
}

.note-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .5s;
    border-radius: 5px;
}

.note-content {
    padding: 1rem;
    flex: 1;
}

.note-btn {
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 1.3rem;
}

.note-btn-start {
    background-color: #27ae60;
}

.note-btn-delete {
    background-color: rgb(255, 70, 70);
    border-radius: 0 5px 5px 0;
}

.note-btn-confirm {
    border-radius: 0 5px 5px 0;
}

.note-confirmed {
    text-decoration: line-through;
    opacity: 0.7;
}

.far {
    pointer-events: none;
}
